<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rionlabs.tatsu">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".TatsuApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="org.rionlabs.tatsu.ui.screen.begin.SplashActivity"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.rionlabs.tatsu.ui.screen.guide.GuideActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.rionlabs.tatsu.ui.screen.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main">

            <!-- TODO: Add Google App Indexing -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <service
            android:name=".work.TimerService"
            android:exported="false" />

        <receiver
            android:name=".work.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.rionlabs.tatsu.start" />
                <action android:name="org.rionlabs.tatsu.pause" />
                <action android:name="org.rionlabs.tatsu.stop" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".work.WorkTimeAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.rionlabs.tatsu.start_work" />
                <action android:name="org.rionlabs.tatsu.end_work" />
            </intent-filter>
        </receiver>

    </application>

</manifest>